.login-box {
  display: flex;
  flex-direction: column;   
  padding: 30px;
}


.login-desc {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}


.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;     
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}


.login-btn {
  width: 100%;              
  margin-top: 10px;         
  padding: 12px;
  font-size: 15px;
  border-radius: 6px;
  border: none;
  background-color: #2563eb;
  color: white;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #1d4ed8;
}


.signup-link {
  margin-top: 12px;
  font-size: 13px;
  color: #888;
  text-align: center;
  cursor: pointer;
}

.signup-link:hover {
  text-decoration: underline;
}


